ul li.checked{
    background: #888;
    color: #888;
    text-decoration: line-through;

}
.close{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
#txtItem {
    width: 85%;

    
  }
.checked {
  text-decoration: line-through;
 
  }
.container{
  left: 0%;
}
