ul li.checked{
 background: #8888;
 color: #fff;
 text-decoration: line-through;   
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}
#delete{
    position:absolute;
    right: 5px;
    top: 10px;
}