body{
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: column;

}
input{
    height: 50px;
    width: 450px;
}
button{
    height: 55px;
    width: 55px;
}
.contentDiv{
    height: 700px;
    width: 520px;
    background-color: white;
    margin-top:10px ;
    font-size: 28px;
}
.deleteButton{
    height: 30px;
    width: 42px;
    background-color: aquamarine;
    display: inline-block;
    color: aliceblue;
    margin-left:10px ;
    padding-left: 5px;
    cursor: pointer;
}
.finishButton{
    height: 30px;
    width: 42px;
    background-color: aquamarine;
    display: inline-block;
    color: aliceblue;
    margin-left:10px ;
    padding-left: 5px;
    cursor: pointer;
}